* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 500;
}

:root {
  --light-gray: #c8c9ca;
  --dark-gray: #626363;
  --light-blue: #1d6adfc3;
  --dark-blue: #1117bc;
  --light-green: #d1fae5;
  --dark-green: #258765;
}

.navbar {
  font-size: 15px;
  font-weight: 400;
  color: var(--light-gray);
}

.nav-link {
  color: var(--light-gray);
}

.nav-link:hover {
  color: var(--dark-gray);
  text-decoration: underline;
}

.left-items .nav-link:hover {
  text-decoration: underline;
}

.dropdown-toggle {
  color: var(--light-blue);
}

.dropdown-toggle:hover {
  color: var(--dark-blue);
}

.chevron-right {
  font-size: 2rem;
}

.p-icon {
  color: var(--dark-green);
  background-color: var(--light-green);
}

.header {
  font-size: 15px;
  color: var(--light-gray);
}

.title {
  font-weight: 700;
}

.hstack {
  cursor: pointer;
  box-shadow: rgba(182, 179, 179, 0.2) 0 2px 8px 0;
}

.right-elems {
  font-size: 1.2rem;
}

.bi {
  padding-right: 3px;
}

.bi-cloud {
  color: var(--dark-green);
}

.options {
  font-size: 12px;
  box-shadow: rgba(141, 136, 136, 0.2) 0 2px 8px 0;
}

.options-none {
  display: none;
}

.options-title {
  font-size: 20px;
}

.options-list .bi {
  font-size: 3rem;
}

.options p {
  color: var(--dark-gray);
}

.options-filter span {
  color: white;
  background-color: var(--light-blue);
}

input::placeholder {
  color: var(--light-gray);
}

input:focus {
  outline: none;
}

img {
  height: auto;
  width: 2rem;
}
